/* compass stuffz */
@import "compass";
@import "compass/reset";
@import "compass/css3";

/* local scss partials */
@import "partials/variables";
@import "partials/mixins";
@import "partials/animate";
@import "partials/font-face";

body {
  background: #000 url(/images/city.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #efefef;
  font-size: 20px;
  font-family: sans-serif;
  text-shadow: 0 1px 0 #000;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#main {
  background: url('/images/face.png');
  background-position: center top;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 750px;
  -webkit-animation: slide-in .3s ease-out 1;
  header {
    margin: 0 auto;
    padding-top: 236px;
    width: 340px;
    h1 {
      font-family: 'CarnivaleeFreakshowRegular';
      font-size: 70px;
      span {
        color: #5fafb9;
      }
    }
    h2 {
      color: #d78d71;
      font-family: "WisdomScriptAIRegular";
      font-size: 22px;
      padding-bottom: 8px;
    }
    p {
      font-size: 16px;
      margin: 0 auto;
      padding-top: 22px;
      width: 340px;
    }
  }
  
  
  #thanks {
    display: none;
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 8px RGBA(0,0,0, .25), 0 0 0 1px RGBA(255,255,255, .10));
    background: RGBA(0,0,0, .45);
    font-family: "CarnivaleeFreakshowRegular";
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    width: 360px;
    height: 158px;
    opacity: 0;
    h2 {
      color: #F37F55;
      font-size: 52px;
      padding: 2px 0 8px 0;
    }
    p {
      font-family: sans-serif;
      font-size: 16px;
      line-height: 22px;
    }
  }

  #subscribe {
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 8px RGBA(0,0,0, .25), 0 0 0 1px RGBA(255,255,255, .10));
    background: RGBA(0,0,0, .45);
    margin: 0 auto;
    padding: 4px 0;
    text-align: center;
    width: 390px;
    label.info {
      display: block;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin: 10px auto;
      padding: 0;
      width: 340px;
    }
    input[type=text] {
      border: 1px solid #311B15;
      border-radius: 4px;
      @include box-shadow(0 1px 0 1px RGBA(0,0,0, .25), inset 0 0 0 1px #fff, inset 0 0 8px #4E3222);
      display: block;
      font-size: 14px;
      margin: 0 auto;
      padding: 16px;
      text-align: center;
      width: 240px;
      height: 10px;
    }
    input[type=submit] {
      @include border-radius(4px);
      @include box-shadow(inset 0 1px 0 white, 0 2px 0 1px RGBA(0,0,0, .25));
      background-color: #6abcc6;
      border: 1px solid darken(#6abcc6, 55%);
      color: white;
      font-size: 18px;
      font-weight: 900;
      margin: 10px 0;
      padding: 0;
      width: 200px;
      height: 40px;
      text-shadow: black 0 1px 0;
    }
  }
}

.invalid {
  @include flash-background-stripes;
  @include border-radius(8px);
  font-size: 16px;
  color: #FFF;
  padding: 10px 0 !important;
  position: relative;
  background-color: #911;
  border-color: #8E1E1E;
  width: 340px;
  -webkit-animation: animate-stripes 1s linear infinite;
  &:after {
    clear: both;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: #911 transparent transparent transparent;
    border-style: solid;
    margin-left: -8px;
    bottom: -20px;
    left: 50%;
  }
}